<button class="btn btn-secondary" (click)="saveClient()">Save client</button>
<button class="btn btn-secondary" (click)="saveProduct()">Save product</button>
<button class="btn btn-success" (click)="readAll()">Get all</button>

<div class="container client_container">
  <div *ngFor="let client of clients">
    <p><b>Firstname: </b>{{ client.firstname }}</p>
    <p><b>Lastname: </b>{{ client.lastname }}</p>
    <p><b>Age: </b>{{ client.age }}</p>
  </div>
</div>

<div class="container product_container">
  <div *ngFor="let product of products">
    <p><b>Name: </b>{{ product.name }}</p>
    <p><b>Price: </b>{{ product.price }}</p>
  </div>
</div>
