<div class="alert alert-primary" role="alert">A simple primary alert out</div>
<accordion>
  <accordion-group heading="Static Header">
    This content is straight in the template
  </accordion-group>
  <accordion-group heading="Another group">
    <p>Some contenet</p>
  </accordion-group>
  <accordion-group heading="Another group">
    <p>Some contenet</p>
  </accordion-group>
  <accordion-group heading="Another group">
    <p>Some contenet</p>
  </accordion-group>
</accordion>
<div *ngIf="fireUser && !load; else showLogin">
  <h1>Hello {{ fireUser.email }}</h1>
  <button (click)="logout()">Logout</button>
</div>
<ng-template #showLogin>
  <div *ngIf="load" class="text-center">
    <div class="lds-ripple">
      <div></div>
      <div></div>
    </div>
  </div>
  <app-login *ngIf="!load"></app-login>
</ng-template>
<router-outlet></router-outlet>
