<div class="container mt-3">
  <div class="row">
    <div class="col-sm-6">
      <app-client-select
        (clientCancel)="deleteClient()"
        [firstname]="selectedClient.firstname"
        (clientSelect)="assignClient($event)"
      ></app-client-select>

      <div class="from-control mb-5">
        <label for="">Price</label>
        <select
          (change)="selectPrice($event)"
          class="form-control"
          name=""
          id=""
        >
          <option [value]="null">Select price</option>
          <option *ngFor="let price of prices" [value]="price.id">
            {{ price.name }}
          </option>
        </select>
      </div>
      <div class="from-control">
        <label for="">Date Initi</label>
        <input
          type="text"
          class="form-control"
          disabled
          [value]="
            inscription.dateInscription
              | date : 'EEEE dd \'de\' MMMM \'del\' yyyy'
          "
        />
      </div>
      <div class="from-control">
        <label for="">Last Date</label>
        <input
          type="text"
          class="form-control"
          disabled
          [value]="inscription.dateFinal"
        />
      </div>

      <button class="btn btn-primary" (click)="saveClient()">Save</button>
    </div>
    <div class="col-sm-6">
      <div *ngIf="selectedClient.profilePicture">
        <img [src]="selectedClient.profilePicture" class="imgClient" alt="" />
      </div>
    </div>
  </div>
</div>
