<div class="container mt-5">
  <form action="" [formGroup]="addForm">
    <div class="form-group">
      <label for="">Nombre</label>
      <input type="text" formControlName="firstname" class="form-control" />
    </div>
    <div class="form-group">
      <label for="">Apellido</label>
      <input type="text" formControlName="lastname" class="form-control" />
    </div>
    <div class="form-group">
      <label for="">Dirreción</label>
      <textarea
        class="form-control"
        formControlName="address"
        id=""
        cols="30"
        rows="5"
      ></textarea>
    </div>

    <button [disabled]="!addForm.valid" class="btn btn-primary mt-5">
      Agregar cliente
    </button>
  </form>
</div>
