<div class="container">
  <div class="article" *ngFor="let article of articles">
    <h4 (click)="getArticleDetail(article)">
      {{ article.id }}.- {{ article.title }}
    </h4>
    <p>{{ article.body }}</p>
    <p>Id: {{ article.id }} UserId:{{ article.userId }}</p>
    <button class="btn btn-danger" (click)="deleteArticleDetail(article.id)">
      Delete
    </button>
    &nbsp;
    <button class="btn btn-primary" (click)="updateArticleDetail(article)">
      Update
    </button>
  </div>
</div>
