<div class="container mt-5">
    <div class="row">
        <div class="col-sm-8">
            <h4>Precios</h4>
            <ul>
                <li *ngFor="let price of prices" (click)="editPrice(price)">
                    <p>{{price.name}}</p>
                    <p>id: {{price.id}}</p>
                </li>
            </ul>
        </div>
        <div class="col-sm-4">
            <h4>Agregar / Editar</h4>
            <form [formGroup]="priceForm">
                <div class="form-group">
                    <label for="">Name</label>
                    <input formControlName="name" class="form-control" type="text">
                </div>
                <div class="form-group">
                    <label for="">Cost</label>
                    <input formControlName="cost" class="form-control" type="number">
                </div>
                <div class="form-group">
                    <label for="">Duration</label>
                    <input formControlName="duration" class="form-control" type="number">
                </div>
                <div class="form-group">
                    <label for="">Duration type</label>
                    <select formControlName="durationType" class="form-control" name="" id="">
                        <option value="1">Day</option>
                        <option value="2">Week</option>
                        <option value="3">Quart</option>
                        <option value="4">Month</option>
                        <option value="5">Year</option>
                    </select>
                </div>
                <br>
                <button *ngIf="!isEdit" [disabled]="priceForm.invalid" class="btn btn-primary mx-3" (click)="addPlan()" style="width: 90%;">Add</button>
                <button *ngIf="isEdit" [disabled]="priceForm.invalid" class="btn btn-danger mx-3" (click)="editPlan()" style="width: 90%;">Edit</button>
            </form>
        </div>
    </div>
</div>