<div class="container">
  <div class="text-center">
    <img src="assets/logo.jpeg" alt="" />
    <h3>Welcome, please complete your data</h3>
  </div>
  <form [formGroup]="formLogin">
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input
        formControlName="email"
        type="email"
        class="form-control"
        id="exampleInputEmail"
        aria-describedby="emailHelp"
        placeholder="Email"
      />
      <small id="emailHelp" class="form-text text-muted"
        >We'll never share your email with anyone else.</small
      >
      <div
        *ngIf="
          formLogin.controls['email'].invalid &&
          formLogin.controls['email'].dirty
        "
        class="alert alert-danger"
        role="alert"
      >
        <span *ngIf="formLogin.controls['email'].errors?.['required']"
          >The email was required</span
        >
        <span *ngIf="formLogin.controls['email'].errors?.['email']"
          >The email was not valid</span
        >
      </div>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input
        formControlName="password"
        (keyUp.enter)="login()"
        type="password"
        class="form-control"
        id="exampleInputPasssword1"
        placeholder="Password"
      />
      <div
        *ngIf="
          formLogin.controls['password'].invalid &&
          formLogin.controls['password'].dirty
        "
        class="alert alert-danger"
        role="alert"
      >
        <span *ngIf="formLogin.controls['password'].errors?.['required']"
          >The password was required</span
        >
      </div>
    </div>
    <button
      type="submit"
      (click)="login()"
      [disabled]="!formLogin.valid"
      class="btn btn-primary"
    >
      Login
    </button>
  </form>
  <div *ngIf="!correctData" class="alert alert-warning" role="alert">
    {{ errorText }}
  </div>
</div>

<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  color="#fff"
  type="square-jelly-box"
  [fullScreen]="true"
  ><p style="color: white">Loading...</p></ngx-spinner
>
