<div class="order-container">
  <app-table-view
    #tableView
    [items]="items"
    [columns]="columns"
    [detailTemplate]="detailTemplateC"
  ></app-table-view>
  <ng-template
    #orderIdCellTemplate
    let-row="row"
    let-expanded="expanded"
    ngx-datatable-cell-template
  >
    <div class="row-container">
      <div>
        <div
          *ngIf="expanded"
          class="caret-container expanded"
          (click)="toggleExpandRow(row)"
        >
          <i class="fas fa-caret-down"></i>
        </div>
        <div
          *ngIf="!expanded"
          class="caret-container not-expanded"
          (click)="toggleExpandRow(row)"
        >
          <i class="fas fa-caret-right"></i>
        </div>
      </div>
      <div>
        <div>
          <a>
            {{ row.orderId }}
          </a>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template #detailTemplateC let-rpw="row">
    <p>Pruebaaaaaaaaa</p>
  </ng-template>
</div>
