<div class="container">
  <div class="client">
    <h5>Cliente: {{ this.orderService.order?.firstnameClient }}</h5>
    <h6>
      Total: <b>{{ this.orderService.order?.total | currency }}</b>
    </h6>
  </div>
  <div class="detail">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Producto</th>
          <th scope="col">Nombre</th>
          <th scope="col">Cantidad</th>
          <th scope="col">Precio unitario</th>
          <th scope="col">Total producto</th>
          <th scope="col">Eliminar</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let product of this.orderService.order?.orderDetail;
            let position = index
          "
        >
          <th scope="row">{{ product.productId }}</th>
          <td>{{ product.nameProduct }}</td>
          <td>{{ product.price | currency : "$" }}</td>
          <td>
            <input
              (input)="totalCalculate(position)"
              [(ngModel)]="product.stock"
              type="text"
            />
          </td>
          <td>{{ product.total | currency : "$" }}</td>
          <td>
            <button class="btn btn-danger" (click)="delete(position)">
              Eliminar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <button class="btn btn-primary" (click)="save()">Guardar</button>
  </div>
</div>
