<div class="container mt-5">
  <form action="" class="form-group">
    <input
      class="form-control"
      (input)="searchproduct($event)"
      type="text"
      placeholder="Busque un producto"
    />
  </form>

  <button routerLink="/addproduct" class="my-2 btn btn-primary">
    Agregar producto nuevo
  </button>
  <div class="row">
    <div class="col-sm-3" *ngFor="let product of products">
      <div class="card" style="width: 18rem">
        <div class="card-body">
          <h5 class="card-title">
            {{ product.name }}
          </h5>
          <h6 class="subtitle">{{ product.productId }}</h6>
          <p class="card-text">{{ product.description }}</p>
          <p class="card-text">{{ product.price | currency : "$" }}</p>
          <button
            (click)="add(product)"
            class="btn btn-info"
            style="color: white; width: 100%"
          >
            Agregar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
