<div class="container mt-5">
  <h4>Client list</h4>
  <form action="" class="mb-2">
    <div class="form-group">
      <input
        type="text"
        class="form-control"
        placeholder="Search client by name"
        id="searchName"
      />
    </div>
  </form>
  <div class="row">
    <div class="col-sm-3">
      <div class="card">
        <img
          src="https://cdn.autobild.es/sites/navi.axelspringer.es/public/media/image/2016/09/569465-whatsapp-que-tus-contactos-ponen-rana-perfil.jpg?tf=3840x"
          alt="Card image cap"
          class="card-img-top imgClient"
        />
        <div class="card-body">
          <h5 class="card-tittle">Diego Paz</h5>
          <a href="#" class="card-link">Edit</a>
          <a href="#" class="card-link text-danger">Disable</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <img
          src="https://i.pinimg.com/564x/ca/40/cd/ca40cdf8bde9af7fe54d85c0dec73e27.jpg"
          alt="Card image cap"
          class="card-img-top imgClient"
        />
        <div class="card-body">
          <h5 class="card-tittle">Ismael Paz</h5>
          <a href="#" class="card-link">Edit</a>
          <a href="#" class="card-link text-danger">Disable</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <img
          src="https://cdn.autobild.es/sites/navi.axelspringer.es/public/media/image/2016/09/569465-whatsapp-que-tus-contactos-ponen-rana-perfil.jpg?tf=3840x"
          alt="Card image cap"
          class="card-img-top imgClient"
        />
        <div class="card-body">
          <h5 class="card-tittle">Diego Paz</h5>
          <a href="#" class="card-link">Edit</a>
          <a href="#" class="card-link text-danger">Disable</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <img
          src="https://static.vecteezy.com/system/resources/previews/002/003/112/non_2x/lion-profile-head-animal-emblem-icon-with-team-wild-lettering-free-vector.jpg"
          alt="Card image cap"
          class="card-img-top imgClient"
        />
        <div class="card-body">
          <h5 class="card-tittle">Team lion</h5>
          <a href="#" class="card-link">Edit</a>
          <a href="#" class="card-link text-danger">Disable</a>
        </div>
      </div>
    </div>
  </div>
</div>
