<div class="container mt-5">
  <h4>Client list</h4>
  <form action="" class="mb-2">
    <div class="form-group">
      <input
        type="text"
        class="form-control"
        placeholder="Search client by name"
        id="searchName"
      />
    </div>
  </form>
  <div class="row">
    <div class="col-sm-3" *ngFor="let client of clients">
      <div class="card">
        <img
          [src]="client.profilePicture"
          alt="Card image of {{ client.firstname }} {{ client.lastname }}"
          class="card-img-top imgClient"
        />
        <div class="card-body">
          <p>{{ client.id }}</p>
          <h5 class="card-tittle">
            {{ client.firstname }} {{ client.lastname }}
          </h5>
          <a [routerLink]="['/client-add/' ,client.id]" class="card-link">Edit</a>
          <a href="#" class="card-link text-danger">Disable</a>
        </div>
      </div>
    </div>
  </div>
</div>
