<div class="container mt-5">
  <form action="" class="form-group">
    <input
      class="form-control"
      (input)="searchClient($event)"
      type="text"
      placeholder="Busque un cliente"
    />
  </form>

  <button routerLink="/addclient" class="my-2 btn btn-primary">
    Agregar cliente nuevo
  </button>
  <div class="row">
    <div class="col-sm-3" *ngFor="let client of clients">
      <div class="card" style="width: 18rem">
        <div class="card-body">
          <h5 class="card-title">
            {{ client.firstname }} {{ client.lastname }}
          </h5>
          <h6 class="subtitle">{{ client.clientId }}</h6>
          <p class="card-text">{{ client.address }}</p>
          <button
            type="button"
            (click)="go2Products(client)"
            class="btn btn-info"
            style="color: white; width: 100%"
          >
            Seleccionar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
